* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: light dark;

  --main-fg-color: hwb(0 100% 0% / 0.87);
  --accent-fg-color: hsl(238, 14%, 38%);
  --disabled-fg-color: hwb(0 100% 0% / 0.47);
  --main-bg-color: hwb(0 14% 86%);
  --accent-bg-color: hwb(240 24% 73%);
  --disabled-bg-color: hwb(240 24% 83%);
  --main-border-color: hwb(240 54% 73%);
  --link-fg-color: hsl(240, 100%, 67%);
  --shadow-color: rgba(255,255,255, 0.2);

  color: var(--main-fg-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-fg-color: #213547;
    --main-bg-color: #ffffff;
  }
}

body {
  margin: 0;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
}

#root{
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
  background-image: url('/logo.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 25%;
}