* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  /* main colours */


  color-scheme: light dark;
  --body-bg-color: hwb(0 14% 86%);

  --main-fg-color: hwb(0 100% 0% / 0.87);
  --main-bg-color: hwb(240 24% 73%);
  
  --disabled-fg-color: hwb(0 100% 0% / 0.47);
  --disabled-bg-color: hwb(240 24% 83%);
  --main-border-color: hwb(240 54% 73%);
  --shadow-color: rgba(255,255,255, 0.2);
  --color-error: red;
  
  --primary-action-color: rgb(87, 87, 255);
  --primary-action-contrast: rgb(255, 246, 167);
  
  --link-fg-color: var(--primary-action-color);
  --secondary-action-color: var(--main-fg-color);
  --secondary-action-contrast: var(--main-bg-color);
  

  color: var(--main-fg-color);
  background-color: var(--body-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg-color: rgb(226, 226, 226);

    --main-fg-color: #213547;
    --main-bg-color: #c7c7c8;
    --disabled-bg-color: hwb(0 100% 0% / 0.47);

    --disabled-fg-color: hwb(240 24% 83%);
    --main-border-color: hwb(0 21% 79%);

    --shadow-color: rgba(255,255,255, 0.2);

    --primary-action-color: hsl(240, 71%, 41%);
  --primary-action-contrast: rgb(255, 246, 167);
  }
}

a {
  color: var(--link-fg-color);
  text-decoration: none;
}
a:visited {
  color: var(--link-fg-color);
}
body {
  height: 100%;
  margin: 0;
  background-color: black;
  font-size: 16px;
}

#root{
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: var(--main-fg-color);
  background-color: var(--body-bg-color);
  background-image: url('/logo.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 25%;
}